[package]
name = "redscript"
version = "0.3.5-dev"
authors = ["jac3km4 <jac3km4@pm.me>"]
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
byteorder = "1.4"
thiserror = "1.0"
modular-bitfield = "0.11"
crc32fast = "1.2"
strum = { version = "0.22", features = ["derive"] }

[features]
arc = []
