[package]
name = "redscript"
version = "0.3.3"
authors = ["jac3km4 <jac3km4@pm.me>"]
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
byteorder = "1.4"
modular-bitfield = "0.11"
crc32fast = "1.2"
strum = { version = "0.21", features = ["derive"] }
