name: Release

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v1
      - name: Copy cargo config
        run: xcopy /H /E /Y .\\.cargo C:\\Rust\\.cargo\
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --features mmap,popup
      - run: mkdir staging
      - name: Create the mod archive
        working-directory: staging
        run: |
          mkdir -p ./engine/config/base
          mkdir -p ./engine/r6/cybercmd
          mkdir -p ./engine/tools
          mkdir -p ./r6/scripts
          cp ../resources/engine/config/base/scripts.ini ./engine/config/base/
          cp ../resources/r6/config/cybercmd/scc.toml ./r6/config/cybercmd/
          cp ../target/release/scc.exe ./engine/tools/
          cp ../resources/r6/scripts/redscript.toml ./r6/scripts/
          7z a -mx=9 -r ./redscript.zip *
      - name: Upload the mod archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./staging/redscript.zip
          asset_name: redscript-mod-${{ github.event.release.tag_name }}.zip
          asset_content_type: application/zip
      - name: Upload the CLI binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/release/redscript-cli.exe
          asset_name: redscript-cli.exe
          asset_content_type: application/vnd.microsoft.portable-executable
